<nav class="navbar navbar-default navbar-fixed-top bg-wam-white">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo-wam.svg" width="150" alt="" />
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#"><i class="fa fa-file-text-o space-r-3"></i> AYUDA</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-user-o space-r-3"></i> SIGN IN</a>
        </li>
        <li class="dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >ES <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">EN</a></li>
            <li><a href="#">IT</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
